<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulin.dao.ClientMapper">
    <select id="findAllClient" resultType="client">
        select * from client
    </select>
    <insert id="addClient" parameterType="client">
        insert into client (clientName,address,phone,email,clientManager) values (#{clientName},#{address},#{phone},#{email},#{clientManager})
    </insert>
    <delete id="deteleClient" parameterType="int">
        delete from client where clientId = #{clientId}
    </delete>
    <update id="updateClient" parameterType="client">
        update client set clientName=#{clientName},address=#{address},phone=#{phone},email=#{email},clientManager=#{clientManager} where clientId=#{clientId}
    </update>
</mapper>