<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulin.dao.EquipmentMtMapper">
    <select id="findAllEquipmentMt" resultType="equipmentMt">
        select * from equipment_mt
    </select>
    <insert id="addEqMt" parameterType="equipmentMt">
        insert into equipment_mt (equipmentId,equipmentName,mtWay,mtResult,cost) values (#{equipmentId},#{equipmentName},#{mtWay},#{mtResult},#{cost})
    </insert>
<!--    <delete id="deteleClient" parameterType="int">-->
<!--        delete from client where clientId = #{clientId}-->
<!--    </delete>-->
<!--    <update id="updateClient" parameterType="client">-->
<!--        update client set clientName=#{clientName},address=#{address},phone=#{phone},email=#{email},clientManager=#{clientManager} where clientId=#{clientId}-->
<!--    </update>-->
</mapper>