<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulin.dao.MaterialMapper">
    <select id="findAllMaterial" resultType="material">
        select * from material_inventory
    </select>
    <select id="findMaterialById" resultType="material" parameterType="string">
        select * from material_inventory where materialId = #{materialId}
    </select>
    <update id="updateById" parameterType="material">
        update material_inventory set materialNum = #{materialNum} where materialId = #{materialId}
    </update>
</mapper>