<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulin.dao.ScheduleMapper">
    <select id="findAllSchedule" resultType="schedule">
        select * from  `schedule`
    </select>
    <insert id="addSchedule" parameterType="schedule">
        insert into `schedule` (productDate,product,productId,productNum,remark) values (#{productDate},#{product},#{productId},#{productNum},#{remark})
    </insert>
</mapper>